.base {
    display: none;
}

.map {
    position: absolute;
}

#vector-legend {
    z-index: bottom;
}

#raster-mirror {
    pointer-events:none;
    z-index: 1;
}

#vector-mirror {
    z-index: 1;
    pointer-events:none;
    opacity: .4;
    transition: opacity .6s;
}

#color {
    margin-left: 10px;
    float: right;
    color: #FFF;
    position: relative;
    transition: color .3s;
}
#description, #interpretation {
    /* height: 120px; */
    background-color: #FFF;
    padding: 5px 15px 15px 15px;
    font-size: 16px;
    color: #444;
    border-radius: 4px;
}

#tools-wrapper {
    z-index: 5;
    position: fixed;
    width: 225px;
    top: 70px;
    left: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;
    pointer-events:none;
    visibility: hidden;
}

#opacity-toggle {
    z-index: 5;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;
}

#opacity-slide {
    z-index: 5;
    width: 140px;
}

#opacity-tool {
    z-index: 5;
    position: fixed;
    top: 15px;
    left: 70px;
    width: 140px;
    height: 20px;
    background-color: #FFF;
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;
}

.label {
    pointer-events:none;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    margin: 0px 0px 5px 0px;
    font-size: 18px;
    color: #777;
}

.hidden {
    visibility: hidden;
}

.icon {
    color: #999;
    font-size: 18px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.icon:hover {
    color: #444;
}

#loader-page {
    background-color: #CCC;
    z-index: 10;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

html,body{ 
    margin:0;
    padding:0;
    height:100%;
    width:100%; 
}

.no-scroll {
    overflow: hidden;
}